body {
    font-family: Arial;
    line-height: 1.6;
    font-size: 14px;
}
header{
    background-color:black;
    width:100%;
    color:white;
    text-align:center
}
main {
    display: flex;
    flex-direction: row; 
    width: 90%; 
    padding: 20px; 
}
main p{
    display:flex;
    width:40%;
}
img {
    display: flex;
    width:35%;
    height:10%;
}
footer p{
    font-size:11px;
    text-align:center;
    margin-top:15%
}